nav ul li a{
    font-weight: 900;
    color: #B7251E !important;
    
}
nav ul li a:hover{
    color: #fff !important;
    transition: 0.4s !important;
}
#main{
    min-height: 90vh;
}
article{
    height: 100px;
}
.custom-img img{
    width: 100%;
    height: 50% !important;
}
.home{
    background: linear-gradient(to top, rgba(70,70,70,0.5), rgba(10, 0, 0, 0.5)), url(../img/IMG_3688.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-bottom: 20px;
}
.home .home-content{
    color: #fff;
    margin-top: 40vh;
}
.home .home-content h1 a{
    color: #B7251E;
    font-weight: 900;
}
.home .home-content h1 a:hover{
    color: rgb(38, 52, 175);
    text-decoration: none;
    transition: 0.4s;
}
.home .home-content small{
    background: rgba(38, 52, 175, 0.74);
    padding: 5px;
    color: #fff;
}
.card h5 a{
    color: #B7251E;
    
}
.card h5 a:hover{
    color: rgb(38, 52, 175);
    text-decoration: none;
    transition: 0.4s;
}
.card:hover{
    opacity: 0.9;
}
.sidebar ul li a{
    color: #B7251E;
    font-weight: 800;
}
.sidebar ul li a:hover{
    color: rgb(38, 52, 175);
    text-decoration: none;
    transition: 0.4s;
}
footer{
    background: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 100px;
}
footer small a{
    color: #B7251E;
    font-weight: 700;
}
footer small a:hover{
    color: rgb(247, 247, 247);
    text-decoration: none;
    transition: 0.4s;
}
@media screen and (max-width: 992px) {
    .home{
        height: 40vh;
        background-size: 100% 100%;
    }
    .home .home-content{
        color: #fff;
        margin-top: 20vh;
    } 
    .home .home-content h1 a{
        padding: 5px;
        color: rgb(255, 196, 0);
        background-color: rgba(29, 9, 119, 0.644);
    }
    .home .home-content p{
        display: none;
    }
}